body {
    background-color: #cdcdc4;
}

h1 {
    font-size: 1.8em;
    text-align: center;
    color: #50554b;
}

h2 {
    font-size: 1.3em;
    color: #50554b;
    width: 65%;
}


p {
    text-align: justify;
    width: 65%;
    font-size: 0.9em;
    color: #635554;
}

li {
    color: #635554;
    font-size: 0.8em;
    font-weight: bold;
}

.guia {
    background-color: #cdcdc4;
    position: fixed;
    left: 73%;
    top: 10%;
    font-size: 0.895em;
}

a {
    color: #635554;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 119, 255);
}