body {
    background-color: #cdcdc4;
}

h1 {
    font-size: 200%;
    text-align: center;
    color: #50554b;
}

h2 {
    font-size: 150%;
    color: #50554b;
}


p {
    text-align: justify;
    width: 60%;
    font-size: 100%;
    color: #635554;
}

li {
    color: #635554;
    font-size: 100%;
    font-weight: bold
}

.guia {
    background-color: #cdcdc4;
    position: fixed;
    left: 73%;
    top: 6.15%;
    font-size: 100%;
}

a {
    color: #635554;
    text-decoration: none;
   }
   
a:hover {
    color: rgb(0, 119, 255);
   }
