body {
    background-color: #cdcdc4;
}

h1 {
    font-size: 20px;
    text-align: center;
    color: #2b58de;
}

h2 {
    font-size: 15px;
    color: #2b58de;
}


p {
    text-align: justify;
    width: 60%;
    font-size: 10px;
    color: #2b58de;
}

li {
    color: #2b58de;
    font-size: 10px;
    font-weight: bold
}

.guia {
    background-color: white;
    position: fixed;
    left: 73%;
    top: 6.15%;
    font-size: 10px;
}

a {
    color: #d3d3d3;
    text-decoration: none;
   }
   
a:hover {
    color: rgb(0, 119, 255);
   }
